@media (min-width: 1000px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

.sidebar-nav {
    padding: 9px 0;
}

.field-validation-error
{
    color: #B94A48;
}

.cell-unit {
  padding: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.nav-pill-hoverable > li > a:hover {
  text-decoration: none;
  color: White;
  background-color: #0088cc; /* Bootstrap Default */
}

.input-micro {
  width: 30px;
}

.input-nano {
  width: 15px;
}

@media print {
.noPrint {
    display:none;
}
}