@{
    ViewBag.Title = "Home Page";
}

<h3>This is how it's done...</h3>
<ol class="round">
    <li class="one">
        <h5>Track Your Clients</h5>
        Hold their contact details, quotes, invoices, and what has been paid.
    </li>

    <li class="two">
        <h5>Track Your Hours</h5>
        The work log allows you to keep track of hours spend on a client project.  All this can easily be invoiced.
    </li>

    <li class="three">
        <h5>Track Your Expenses</h5>
        A simplistic way to record of your expenses and those expenses on behalf of clients.
    </li>
</ol>
